.banner {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }
}

.post {
  padding: 5rem 0;

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58.09px;

    color: var(--heading);

    display: block;
    margin-bottom: 1.5rem;
  }

  & > div {
    max-width: 350px;

    display: flex;
    justify-content: space-between;

    font-size: 0.875rem;
    color: var(--info);

    time,
    span {
      display: flex;
      align-items: center;

      svg {
        height: 20px;
        width: 20px;
        margin-right: 8px;
      }
    }
  }

  & > span {
    display: block;
    margin-top: 1rem;

    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.06rem;

    color: var(--info);
  }
}

.postContent {
  h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.15rem;
    color: var(--heading);
    margin-top: 2rem;
  }

  p {
    color: var(--body);
    font-size: 1.125rem;
    line-height: 1.5rem;

    & + p {
      margin: 0.5rem 0 1.5rem;
    }

    a {
      transition: filter 0.3s ease;

      &:hover {
        filter: opacity(0.8);
      }
    }
  }
}

.footer {
  border-top: 1px solid rgba(215, 215, 215, 0.1);
}

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);

  padding: 5rem 0;

  a {
    display: grid;

    font-size: 16px;
    line-height: 19.36px;
    font-weight: 600;

    & > span {
      display: block;

      color: var(--heading);
      font-size: 18px;
      font-weight: 400;
      line-height: 21.78px;
    }
  }
}

.next {
  text-align: right;
}
